 body {
  margin: 0;
  padding: 0;
  font-family: Arial,sans-serif;
  font-size: 15px;
  background-color: #666;
  }

  .wrap {
    width: 450px;
    overflow: hidden;
    margin: auto;
    margin-top: 180px;
    background: white;
    padding: 20px
    border:1px #3498db;
    border-radius: 5px;
    }

  .wrap input {
    width:300px;
    height:10px;
    margin-bottom:15px;
    margin-left: 16px;
    border-radius: 3px;
    border: 1px solid silver;
    padding: 10px;
  }

  .wrap .btn-login {
    padding: 5px;
    width: 400px;
    height: 40px;
    background-color: #3498db;
    color: white;
    border-radius: 3px;
    border: 0;
    font-size: 18px;
    margin-bottom: 65px;
  }

/* Beginning Twitter bird code that I found on the internet.*/
  .twitter-bird {
    background-image: url(http://dl.dropboxusercontent.com/u/105046436/tw.png);
    display: inline-block;
    height: 38px;
    width: 37.5px;
}
  /* end of twitter bird code that i did not write*/
