.button {
  width: 150px;
  border: 1px solid black;
  height: 25px;
  display: inline-block;
  text-align: center;
  border-radius: 5px
  text-deoration: none;
  color: black;
  padding-top: 11px;
}

.button:hover{
  background-color: white;
  color: green;
  opacity: 1;
}

.pull-right{
  float: right;
margin-left:10px;
margin-right:10px;
}

.button-white{
  background-color: white;
}
.button-see-thru{
  opacity: 0.5;
}

  .box{
	width:100px;
	height:100px;
}


.headline{
	background-color:green;
  width:100%;
}

html, body{
  margin:0;
  padding:0;
}
 /*this will select every .headline and h1*/

.headline>h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight:400;
  padding: 80px 0;
  margin: 0;
}

.nav-container{
  background-color:white;
  border: 1px dotted grey;
}
.nav-list{
  margin: 0;
  text-align:center;
}

.nav-list li{
  display:inline-block;
  padding: 10px 20px;
  box sizing: border-box;
  border-left:1px solid lightgrey;
  border-right:1px solid lightgrey;
  margin: auto -2px;
}
 .nav-list li:first-child{
  border-left: 1px solid lightgrey;

  display:inline;
  list-style-type: none;
  padding-right: 20px;
  }

.nav-list li:hover{
  border-bottom: 2px solid green;
}

.card{
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  border: 1px solid lightgrey;
  border-radius: 5px;
  
}
.card-signup{
  background-color: green;
}
